@media screen and (max-width:600px) {

    /* nav section responsive start */
    nav,
    ul,
    .logo {
        flex-direction: column;
    }

    .logo h3 {
        font-size: 1.5rem;

    }

    .nav-section {
        padding: 1px;
    }

    ul {
        margin-top: 30px;
        gap: 15px;
    }

    /* nav section responsive end */

    /* .banner section  */
    .banner {
        max-width: 1140px;
        width: 95%;
        height: 500px;
       
    }
    .banner-title, .banner-content {
       margin-top: 50px;
        font-size: 2rem;
        
    }
    
.banner-descripton {
    
    font-size: 0.8rem;
    margin-bottom: 40px;
    

}



.form-section{
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    
}
.form-section input , #select-btn , .btn-primary{
   width:240px;
   margin-top: 10px;
}
.form-section input{
    
}

}