@media screen and (max-width:600px) {

    /* nav section responsive start */
    nav,
    ul,
    .logo {
        flex-direction: column;
    }

    .logo h3 {
        font-size: 1.5rem;

    }

    .nav-section {
        padding: 1px;
    }

    ul {
        margin-top: 30px;
        gap: 15px;
    }

    /* nav section responsive end */

    /* .banner section  */
    .banner {
        max-width: 1140px;
        width: 95%;
        height: 500px;
        margin-top: 20px;
       
    }
    .banner-title, .banner-content {
       margin-top: 50px;
        font-size: 2rem;
        
    }
    
.banner-descripton {
    
    font-size: 0.8rem;
    margin-bottom: 40px;
    

}



.form-section{
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    
}
.form-section input , #select-btn , .btn-primary{
   width:240px;
   margin-top: 10px;
}
/* Tours Container */
.tours-container{
    flex-direction: column;
    padding: 30px;
    margin: 0 auto;
    
}
.tours-title{
    font-size: 2rem;
}
.tours-img img{
   width: 100%;
}
/* destination */
.destination-content{
    padding: 10px;
}
.row {
    flex-direction: column;
    height: auto;
}
.destination-img-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.choose-us-card-container {
    flex-direction: column;
}
.card-item-3{
    width: 85%;
    
  
}

.common-title, .card-title{
    font-size: 1.4rem;
}
.login-container {
    max-width: 100%;
}
.news-container{
    flex-direction: column;
}
.login-container {
    max-width: 100%;
}
.news-container-img img{
    width: 100%;
    margin: 0 auto;
}
.common-description{
    font-size: 14px;
}
.save-discount img{
    
  
    margin-top: 40px;
    
}
.footer-text-content{
    padding: 10px;
}
.footer-title h3{
margin-bottom: 16px;
    font-size: 1.5rem;
   
}
hr{
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.footer-text-content img{
    margin-top: 15px;
    margin-bottom: 15px;
}
.save{
    width: 214.023px;
    height: 79.268px;
transform: rotate(-19.628deg);
border-radius: 1rem;
background: #FF5400;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 46px;
right:  0px;

} 
}