@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

/* variable color  */
:root {
    --secondary-color: #131318;
    --primary-color: #FF5400;
}

/* nav section Styles */
.logo img {
    max-width: 100px;
    object-fit: cover;
}

.logo h3 {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 800;
    margin-left: 15px;
}

.nav-section {
    padding: 40px;
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    max-width: 100%;
}


ul {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;

}

li a:hover {
    color: var(--primary-color);
}

.nav-name {
    display: flex;
    max-width: 80%;

}

/* Banner Section styles */
.banner {
    max-width: 1240px;
    border: 2px solid red;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    min-height: 600px;
    border-radius: 16px;

}

.banner-content {
    text-align: center;
    margin-top: 106px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;

}

.banner-descripton {
    color: #FFF;
    font-size: 1rem;

    font-weight: 400;
    line-height: 26px;
}

.form-section {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    display: inline-block;
    padding: 16px;
  
    align-items: center;
    
}

.form-section input,
#select-btn {
   margin-left: 15px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    border-radius: 8px;



}

/* #select-btn{
    width: 150px;
    height: 40px;
 } */