@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

/* Common Styles */
.btn-primary {
    margin-left: 15px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;

}

/* variable color  */
:root {
    --secondary-color: #131318;
    --primary-color: #FF5400;
}

/* nav section Styles */
.logo img {
    max-width: 100px;
    object-fit: cover;
}

.logo h3 {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 800;
    margin-left: 15px;
}

.nav-section {
    padding: 40px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    max-width: 100%;
}


ul {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;

}

li a:hover {
    color: var(--primary-color);
}

.nav-name {
    display: flex;
    max-width: 80%;

}

/* Banner Section styles */
.banner {
    max-width: 1199px;

    height: 500px;
    border: 1px solid rgb(255, 254, 254);
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png"); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;

    border-radius: 16px;

}

.banner-content {
    text-align: center;
    margin-top: 106px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;

}

.banner-descripton {
    color: #FFF;
    font-size: 1rem;

    font-weight: 400;

}

.form-section {
    background: rgba(255, 255, 255, 0.30);
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    display: block;
    display: flex;
    justify-content: center;
    padding: 16px;
    margin-top: 64px;
    align-items: center;

}

.form-section input,
#select-btn {
    margin-left: 15px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;


}

/* Tours Section styles */
.tours-container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    gap: 50px;
    margin-top: 100px;
}



.tours-title {
    color: #131318;
    font-size: 2.8rem;
    font-weight: 800;

}

.tours-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    text-align: justify;
    margin-bottom: 40px;

}

.hide {
    display: none;
}